 <!-- Footer Section Begin -->
<footer class="footer spad set-bg" data-setbg="img/footer-bg.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer__address">
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            <p>Phone</p>
                            <h6>0(537) 642 19 44</h6>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <p>Email</p>
                            <h6>emrullahkoc.1995@gmail.com</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-md-6">
                <div class="footer__social">
                    <h2>Moon</h2>
                    <div class="footer__social__links">
                        <a href="https://www.facebook.com/emrullahkoccc/" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://x.com/gncbkk/" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/gncbk/" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://github.com/emrullahkoc/" target="_blank"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6">
                <div class="footer__newslatter">
                   @* <h4>Stay With me</h4>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit"><i class="fa fa-send-o"></i></button>
                    </form>*@
                </div>
            </div>
        </div>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        <div class="footer__copyright__text">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | by <a href="https://github.com/emrullahkoc/" target="_blank"> gnck</a></p>
          
        </div>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </div>
</footer>
<!-- Footer Section End -->