<!--navigation-->
<ul class="metismenu" id="menu">
	<li>
		<a href="/Management/Home/Index">
			<div class="parent-icon icon-color-1">
				<i class="bx bx-home-alt"></i>
			</div>
			<div class="menu-title">Dashboard</div>
		</a>
	</li>
	<!--Edit Content Start-->
	<li class="menu-label">Edit Content</li>
	<li>
		<a href="/Management/Artist/Index">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-drupal-original"></i>
			</div>
			<div class="menu-title">Artist</div>
		</a>
	</li>
	<li>
		<a href="/Management/Category/Index">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-music"></i>
			</div>
			<div class="menu-title">Category</div>
		</a>
	</li>
	<li>
		<a href="/Management/Activity/Index">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-night"></i>
			</div>
			<div class="menu-title">Activity</div>
		</a>
	</li>
	<li>
		<a href="/Management/Ticket/Index">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-ticket"></i>
			</div>
			<div class="menu-title">Ticket</div>
		</a>
	</li>
	<!--Edit Content End-->
	<!--Main Page Edit Start-->
	<li class="menu-label">Sayfaları Düzenle</li>
	<li>
		<a href="/Management/MainPage/Index">
			<div class="parent-icon icon-color-7">
				<i class="lni lni-home"></i>
			</div>
			<div class="menu-title">Main Page</div>
		</a>
	</li>
	<li>
		<a href="emailbox.html">
			<div class="parent-icon icon-color-7">
				<i class="bx bx-bookmarks"></i>
			</div>
			<div class="menu-title">About</div>
		</a>
	</li>
	<li>
		<a href="emailbox.html">
			<div class="parent-icon icon-color-7">
				<i class="bx bx-bookmarks"></i>
			</div>
			<div class="menu-title">Contact</div>
		</a>
	</li>
	<li>
		<a href="emailbox.html">
			<div class="parent-icon icon-color-7">
				<i class="bx bx-bookmarks"></i>
			</div>
			<div class="menu-title">User</div>
		</a>
	</li>
	<!--Main Page Edit End-->
</ul>
<!--end navigation-->